@media only screen and (min-width: 748px) {

	.b-resources-latest.g-container {
	    padding-left: 0;
	    padding-right: 0;
	}

	.b-resources-latest__slide {
		padding-top: 14rem;
		padding-bottom: 2rem;
		background-color: rgba(0, 0, 0, 0.4);
	}
	
}

@media only screen and (max-width: 747px) {

	.b-resources-latest__slide {
		background-color: rgba(51, 51, 51, 0.6);
		padding-top: 3rem;
		padding-bottom: 3rem;
	}
}

.b-resources-latest__slide h2, .b-resources-latest__slide .b-subtitle__text p {
    color: #fff;
}

.b-resources-latest__slide .b-button-group {
    margin-top: 1rem;
}

.b-resources-latest-nav {
	position: absolute;
	bottom: 10px;
	padding-bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.b-resources-latest__slide, .b-resources-latest .b-media {
	min-height: 300px;
}

.b-resources-latest-nav .b-carousel__prev-next .b-nav__prev-next__link {
    background: url(../image/arrows-featured-tablet.png);
}

.b-resources-latest-nav .b-carousel__prev-next {
    width: 100%;
    background: none;
}

.b-resources-latest-nav .b-carousel__prev-next .b-nav__prev-next__link.b-nav__next__link {
    background-position: 100% 50%;
}

@media only screen and (min-width: 1023px) {

	.b-resources-latest-nav .b-carousel__prev-next .b-nav__prev-next__link {
	    background: url(../image/arrows-featured.png);
	}
	
}

@media only screen and (min-width: 748px) {

	.b-resources-latest-nav .b-carousel__prev-next {
	    position: static;
	    width: 6.8125rem;
	    margin-right: 0.6em;
	    float: right;
	    background: transparent;
	 }
	    
	.b-resources-latest-nav .b-carousel__prev-next .b-nav__prev-next__item {
	    border-left: 1px solid #c8c8c8;
	}
	
	.b-resources-latest-nav .b-carousel__prev-next .b-nav__prev {
		border-left: none;
	}
	.b-resources-latest-nav .b-carousel__prev-next ul {
	    border-right: none;
	}

}

.b-resources-latest .b-media.b-media--full-width.g-block {
    margin-top: 0;
}

.b-resources-latest .b-lead {
	margin-bottom: 3.375rem;
}