@media only screen and (max-width: 706px) {
	.b-insta__feed a {
	  height: auto !important;
	  width: 40% !important;
	  
	  img {
	    height: auto !important;
	    width: 100% !important;
	    }
	}
 }
 
 
 #share {
 	margin-top: 3em;
 	border-top: 1px solid #C8C8C8;
 	
 	h2 {
 		font-family: $malabar-bold;
 		font-size: 1.5em;
 		margin-bottom: 1 * $spacing-unit;
 		line-height: 2rem;
 	}
 	
   .share__tools {
 		list-style-type: none;
 		
 		
 	    li {
 	    	width: 40px;
 	    	margin-right: 10px;
 	    	margin-bottom: 1em;
 	    	float: left;
 	    	
 	    	a span {
 	    	    display: block;
 	    	    overflow: hidden;
 	    	}
 	    }
	}
 }
 