.p-home-html, .p-home {
  display:inline-block;
}
.p-home-html {
  height:100%;
}
.p-home {
  width: 100%;
  height:calc(100% - 133px); // fine tuning
  overflow-y:scroll;
  @include vertical-breakpoint(narrow) {
      height:100%;
    }

  @include breakpoint(medium) {
    height:calc(100% - 138px); // fine tuning
    @include vertical-breakpoint(narrow) {
      height:100%;
    }

  }

  .b-1-0-0-header.g-container {
    background-color:$color-six;
    float:none;
  }

  /* ------------------------------------------------------------
     Home Area
     ------------------------------------------------------------ */
  .b-home {
    background-color:$color-six;
    height:100%;
  }
}