
  
  /* ------------------------------------------------------------
     Legal containers
     ------------------------------------------------------------ */  
  .g-container.legal {
    background: $color-seven;/*white*/
   }
    
 /* ------------------------------------------------------------
    Legal tables
    ------------------------------------------------------------ */  
  
  .legalSection table {
  	width: 100%;
  	
  	td {
  	padding: 1em 0;
  	}
  	
  }