// e-button variables
// ------------------------------------------------------------

$mt-e-button-color-bg: $color-five !default;
$mt-e-button-color-border: $color-eight !default;
$mt-e-button-color-text: $color-seven !default;
$mt-e-button-color-bg--hover: $color-eight !default;
$mt-e-button-color-border--hover: $color-nine !default;
$mt-e-button-color-bg--disabled: $color-ten !default;
$mt-e-button-color-border--disabled: $color-three !default;
$mt-e-button-color-text--disabled: $color-three !default;
$mt-e-button-font: $kootenay-semibold, $sans-serif-fallback !default;
$mt-e-button-spacing-unit: $spacing-unit !default;
$mt-e-button-transition: $transition !default;


.mktoButton,
.mt-e-button {
  @include responsive-text-size('earth');

  background: $mt-e-button-color-bg;
  border:1px solid $mt-e-button-color-border;
  color: $mt-e-button-color-text;
  cursor:pointer;
  display: inline-block;
  font-family:$mt-e-button-font;
  letter-spacing:0.03125rem;
  margin:0 auto;
  margin-top:$spacing-unit--xl;
  min-width:9rem;
  padding: $spacing-unit--m $spacing-unit--r;
  text-align: center;
  transition: border $mt-e-button-transition ease-in, background $mt-e-button-transition ease-in;
  user-select: none;
  // white-space: nowrap; removed because of JP

  @media (max-width: $medium) {
    min-width:7rem;
  }

  @media (max-width: $fromAdaptiveToFluid) {
    display: table;
    margin-top: $spacing-unit--r;
    margin-left: auto;
    margin-right: auto;
    min-width: 9rem;
  }

  &:hover {
    background: $mt-e-button-color-bg--hover;
    border:1px solid $mt-e-button-color-border--hover;
  }

  &:disabled {
    background: $mt-e-button-color-bg--disabled;
    border:1px solid $mt-e-button-color-border--disabled;
    color: $mt-e-button-color-text--disabled;
    cursor:default;
    pointer-events: none;
  }
}

.mt-e-button--expertise {
  margin-top:0;
}
.mt-e-button--search {
  margin-top: $spacing-unit--l !important;
}
.mt-e-button--newsletter {
  margin-top: $spacing-unit--r;
}
.mt-e-button--search, &.mt-e-button--newsletter {
  text-align: center;
  padding: $spacing-unit--m $spacing-unit--r;

  @media (max-width: $fromAdaptiveToFluid) {
    margin-top: $spacing-unit--m;
  }

  &.mt-e-button--visible {
    opacity: 1;
    transition: all $mt-e-button-transition ease-in;
  }
}
.mt-e-button--newsletter {
  opacity: 0;
  transition: all $mt-e-button-transition ease-out;

  &.mt-e-button--visible {
    opacity: 1;
    transition: all $mt-e-button-transition ease-in;
  }
}




.mt-e-button--ghost {
  background-color: transparent;
  border: 1px solid $color-menu--hover;
  color: $color-menu--hover;
  &:hover {
    background-color: $color-menu--hover;
    color: #FFF;
  }
}
