.mt-p-products {
  h1, h1 + p, h2, h2 + p {
    text-align: center;
  }
}


#mel {
  .mt-e-button {
    background: $brand__color--mel;
    border: 1px solid transparent;
    color: $color-seven;
    &:hover {
      background: transparent;
      border: 1px solid $brand__color--mel;
      color: $color-one;
    }
  }
  .g-container--alt {
    .mt-e-button:hover {
      color: $color-seven;
    }
  }
  a:hover {
    border-bottom: 1px solid $brand__color--mel;
  }
  .mt-b-footer__item--selected a {
    background-color: $brand__color--mel;
    color: $color-seven;
  }
  .b-resourcescontent__item .category a {
    color: $brand__color--mel;
  }
}


#mls {
  .mt-e-button {
    background: $brand__color--mls;
    border: 1px solid transparent;
    color: $color-seven;
    &:hover {
      background: transparent;
      border: 1px solid $brand__color--mls;
      color: $color-one;
    }
  }
  .g-container--alt {
    .mt-e-button:hover {
      color: $color-seven;
    }
  }
  a:hover {
    border-bottom: 1px solid $brand__color--mls;
  }
  .mt-b-footer__item--selected a {
    background-color: $brand__color--mls;
  }
  .b-resourcescontent__item .category a {
    color: $brand__color--mls;
  }
}
