video {
  height: auto;
  width: 100%;
}
.mt-c-video {
}
.mt-video__media {
  margin-top: 1.125rem;
}

.mt-video__paragraph {
  @include responsive-text-size('neptune');
  font-family: $malabar;
  margin-top:2 * $spacing-unit;

  @media (max-width: $medium) {
    margin-top:1.6875rem;
  }
  @media (max-width: $small) {
    margin-top:1.5rem;
  }

  a {
    border-bottom:1px solid $color-one;
    padding-bottom: 0.0625rem;
    transition: border-bottom linear $transition;

    &:hover {
      border-bottom:1px solid $color-five;
    }
  }
}

.mt-p-products .g-container--video .b-subtitle .b-subtitle__text {
    font-size: 1.375rem;
    line-height: 2.226rem;
}