$color-one: #1E1E1E;/*black*/

.mt-c-intro {
  color:$color-one;

  .mt-b-lead {
    margin-top: 1rem;
  }
  .mt-e-logo--icon {
    display: block;
    margin: 0 auto;
    max-width: 80px;
  }
  .mt-e-button {
    display: table;
    margin: 0 auto;
    margin-top: 2.25em;
  }
  .mt-e-paragraph:first-of-type {
  	margin-top: 0.75rem;
  }
}

.mt-c-intro--product {
  padding-bottom: 3.375rem;
  padding-top: 3rem;
}
