/*
 *  Monotype Blurb Alt Pattern
 *
 *  This pattern relies on the container using flexbox
 *
 */

.mt-b-blurb--alt {
  .mt-e-logo--icon {
    width: 65px;
    height: 65px;
    float: left;
    margin-right: 1rem;
    top: 6px;
    position: relative;
  }
  .mt-e-button {
    float: left;
  }
  .mt-e-cta {
    display: inline-block;
    margin-top: 1rem;
    padding: 0;
    display:inline-block;
    float:left;
    clear:both;
  }

  .mt-e-paragraph.description {
    font-family: $malabar-bold-italic;
    font-size: 1rem;
    line-height: 1.5em;
  }
}
