.login__form--product {
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #333;
  margin-top: 2rem;

  .mt-e-button {
    display: table;
    margin-bottom: 1rem;
  }
  .mt-e-paragraph {
    color: $color-seven !important;
  }
}
.login__form {
  a {
    border-bottom: 1px solid transparent;
    cursor: pointer;
  }
  a:hover {
    border-bottom: 1px solid $color-seven;
  }
}
.mt-e-form__item {
  max-width: 400px;
  margin: 0 auto;
  height: 56px;
  background: $color-seven;
  position: relative;
  margin-top: 1rem;
}

.mt-e-form__item--password.is-hidden {
  display: none !important;
}



.mt-e-form__input {
  font-family: $kootenay;
  font-size: 1rem;
  color: $color-one;
  float: left;
  width: 100%;
  height: 56px;
  line-height: 36px;
  padding: 0 1rem;
  border: 1px solid $color-one;
}

.mt-e-form__label {
  font-family: $kootenay;
  color: $color-one;
  font-size: 1rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
  transition: top .3s linear;
}
.has-value--input {
  top: 3px;
  font-size: 12px;
  line-height: 10px;
  transition: top .3s linear;
}


.mt-b-switcher {

  margin-top: 1rem;
  line-height: 3rem;
  color: $color-seven !important;
  a {
    font-family: $kootenay;
    color: $color-seven !important;
  }
  a span {
    color: $color-seven !important;
  }
  transition: 0;
  .is-hidden {
    display: none;
    transition: 0;
  }
}

$error-msg-color--bg: $color-twelve;

// error notifications for login page
.f-ajax-message {
  background-color: $error-msg-color--bg;
  color: $color-seven;
  font-family: $kootenay;
  margin: 0 auto;
  max-width: 400px;
  padding-top: 0.5em;
  padding-bottom: 0.8em;
}

.f-ajax-message .validation-summary-errors ul li {
  color: $color-seven;
  list-style: none;
  margin-bottom: 0.5em;
}
