/* ------------------------------------------------------------
   Accordion Global Classes, mainly used for JS
   ------------------------------------------------------------ */
.g-accordion-toggle {
  .g-accordion-toggle__icon {
    background:url('../../image/icon-triangle-down.svg') no-repeat center right;
  }
}
.g-accordion-toggle--selected {
  .g-accordion-toggle__icon {
    background:url('../../image/icon-triangle-up.svg') no-repeat center right;
  }  
}