/* ------------------------------------------------------------
   Responsive Typography, based on Matt Hinchliffe's work
   ------------------------------------------------------------ */
$text-sizing: (
  mercury: (
    large: (
      font-size: 0.75rem, // 12px
      line-height: 1.125rem // 18px
    )
  ),
  mars: (
    large: (
      font-size: 0.75rem, // 12px
      line-height: 1.5rem // 24px
    )
  ),
  proteus: (
    large: (
      font-size: 0.8125rem, // 13px
      line-height: 1.1875rem // 19px
    )
  ),  
  venus: (
    large: (
      font-size: 0.9375rem, // 15px
      line-height: 1.5rem // 24px
    ),
    medium: (
      font-size: 0.875rem, // 14px
      line-height: 1.3125rem // 21px
    ),        
    fromAdaptiveToFluid: (
      font-size: 0.875rem, // 14px
      line-height: 1.3125rem // 21px
    )
  ),
  ariel: (
    large: (
      font-size: 0.9375rem, // 15px
      line-height: 1.25rem // 20px
    ),
    medium: (
      font-size: 0.875rem, // 14px
      line-height: 1.1875rem // 19px
    ),        
    fromAdaptiveToFluid: (
      font-size: 0.875rem, // 14px
      line-height: 1.1875rem // 19px
    )
  ),  
  arcturus: (
    large: (
      font-size: 1rem, // 16px
      line-height: 1.5rem // 24px
    ),
    medium: (
      font-size: 0.875rem, // 14px
      line-height: 1.3125rem // 21px
    ),        
    fromAdaptiveToFluid: (
      font-size: 0.875rem, // 14px
      line-height: 1.3125rem // 21px
    )
  ),
  europa: (
    large: (
      font-size: 1rem, // 16px
      line-height: 1.8rem // 28.8px
    ),
    medium: (
      font-size: 0.875rem, // 14px
      line-height: 1.3125rem // 21px
    ),        
    fromAdaptiveToFluid: (
      font-size: 0.875rem, // 14px
      line-height: 1.3125rem // 21px
    )
  ),  
  earth: (
    large: (
      font-size: 1.125rem, // 18px
      line-height: 1.5rem // 24px
    ),
    medium: (
      font-size: 1rem, // 16px
      line-height: 1.3125rem // 21px
    )
  ),
  neptune: (
    large: (
      font-size: 1.25rem, // 20px
      line-height: 1.875rem // 30px
    ),
    medium: (
      font-size: 1.125rem, // 18px
      line-height: 1.6875rem // 27px
    ),        
    fromAdaptiveToFluid: (
      font-size: 1rem, // 16px
      line-height: 1.5rem // 24px
    )
  ),
  triton: (
    large: (
      font-size: 1.25rem, // 20px
      line-height: 1.6875rem // 27px
    ),
    medium: (
      font-size: 0.9375rem, // 15px
      line-height: 1.3125rem // 21px
    ),        
    fromAdaptiveToFluid: (
      font-size: 1rem, // 16px
      line-height: 1.5rem // 24px
    )
  ),  
  uranus: (
    large: (
      font-size: 1.875rem, // 30px
      line-height: 2.626rem // 42px
    ),
    medium: (
      font-size: 1.5rem, // 24px 
      line-height: 2.0625rem // 33px
    ),        
    fromAdaptiveToFluid: (
      font-size: 1.25rem, // 20px
      line-height: 1.6875rem // 27px
    )
  ),
  saturn: (
    large: (
      font-size: 2.625rem, // 42px
      line-height: 3.375rem // 54px
    ),
    medium: (
      font-size: 2.0625rem, // 33px
      line-height: 2.625rem // 42px
    ),        
    fromAdaptiveToFluid: (
      font-size: 1.625rem, // 26px
      line-height: 2rem // 32px
    )
  ),
  //Typetester
  titan: (
    large: (
      font-size: 6rem, // 96px
      line-height: 1.3em
    ),
    medium: (
      font-size: 6rem,// 96px
      line-height: 1.3em
    ),        
    fromAdaptiveToFluid: (
      font-size: 3rem, // 48px
      line-height: 1.3em
    )
  ),
  //Navigation
  pluto: (
    large: (
      font-size: 4rem, // 64px
      line-height: inherit
    ),
    medium: (
      font-size: 3rem,// 48px
      line-height: inherit
    ),        
    fromAdaptiveToFluid: (
      font-size: 2.625rem, // 42px
      line-height: inherit
    )
  ));