/* ------------------------------------------------------------
   Grid
   ------------------------------------------------------------ */
/* ------------------------------------------------------------
   Spacing Variables
   ------------------------------------------------------------ */
$spacing-unit:0.375rem/*6px*/;

/* ------------------------------------------------------------
   Font Variables
   ------------------------------------------------------------ */
/*

'Malabar ET W08 Regular'
'Malabar ET W08 Italic'
'Malabar ET W08 Bold'
'MalabarETW08-BoldItalic'


'Malabar W04 Regular';
'Malabar W04 Italic';
'Malabar W04 Bold';
'Malabar W04 Bold Italic';
'Malabar W04 Heavy';
'Malabar W04 Heavy Italic';


'Kootenay Pro1277143'; // regular
'Kootenay Pro1277141'; // regular italic
'Kootenay Pro SemiBold';
'Kootenay Pro SemiBold1280370';// semibold italic
'Kootenay Pro'; // bold
'Kootenay Pro1277139'; // bold italic
'Kootenay Pro ExtraBold';
'Kootenay Pro ExtraBold1280365'; // extrabold italic
*/

$malabar: 'Malabar ET W08 Regular', serif;
$malabar-italic: 'Malabar ET W08 Italic', serif;
$malabar-bold: 'Malabar W04 Bold', serif;
$malabar-bold-italic: 'Malabar W04 Bold Italic', serif;
$malabar-heavy: 'Malabar W04 Heavy', serif;
$malabar-heavy-italic: 'Malabar W04 Heavy Italic', serif;
$kootenay: 'Kootenay Pro1277143', sans-serif;
$kootenay-italic: 'Kootenay Pro1277141', sans-serif;
$kootenay-semibold: 'Kootenay Pro SemiBold', sans-serif;
$kootenay-semibold-italic: 'Kootenay Pro SemiBold1280370', sans-serif;
$kootenay-bold: 'Kootenay Pro', sans-serif;
$kootenay-bold-italic: 'Kootenay Pro1277139', sans-serif;
$kootenay-extrabold: 'Kootenay Pro ExtraBold', sans-serif;
$kootenay-extrabold-italic: 'Kootenay Pro ExtraBold1280365', sans-serif;


/* ------------------------------------------------------------
   Font Size Variables
   ------------------------------------------------------------ */
$main-font-size: 1rem;

/* ------------------------------------------------------------
   Color Variables
   ------------------------------------------------------------ */
$color-one: #1E1E1E;/*black*/
$color-two: #787878; /*dark grey*/
$color-three: #C8C8C8;/*grey*/
$color-four: #D2D2D2;/*light grey*/
$color-five: #FF6672;/*red*/
$color-six: #FAF7F5;/*sepia (background)*/
$color-seven: #FFFFFF;/*white*/
$color-eight: #7F2E34;/*border color*/
$color-nine: #3F1619;/*border color hover*/
$color-ten: #E2E2E2;/*soft grey*/

/* ------------------------------------------------------------
   Animations & Transitions
   ------------------------------------------------------------ */
$transition:0.2s;
$border-radius:0.1875rem;/*3px*/

/* ------------------------------------------------------------
   Expertise Breakpoints
   ------------------------------------------------------------ */
$tweakpoint_mobile: map-get($breakpoints, small);
$tweakpoint_tablet: map-get($breakpoints, phablet);
$breakpoint_tablet: map-get($breakpoints, fromAdaptiveToFluid);
$breakpoint_desktop: map-get($breakpoints, medium);

$expertise_margin_tablet: 24px;
$expertise_margin_desktop: 24px;

// - - - - - - - - - - - - - -

$type_1_tablet_width: 228px;
$type_2_tablet_width: 454px;
$type_3_tablet_width: 732px;

$type_2_tablet_height: 706px;
$type_tablet_height: 342px;

// - - - - - - - - - - - - - -

$type_1_desktop_width: 312px;
$type_2_desktop_width: 648px;
$type_3_desktop_width: 984px;

$type_2_desktop_height: 960px;
$type_desktop_height: 468px;
