/* ------------------------------------------------------------
   Japanese Font Variables
   ------------------------------------------------------------ */


$malabar: 'Malabar ET W08 Regular', Georgia, Times, "Times New Roman", serif;
$malabar-italic: 'Malabar ET W08 Italic', Georgia, Times, "Times New Roman", serif;
$malabar-bold: 'Malabar W04 Bold', Georgia, Times, "Times New Roman", serif;
$malabar-bold-italic: 'Malabar W04 Bold Italic', Georgia, Times, "Times New Roman", serif;
$malabar-heavy: 'Malabar W04 Heavy', Georgia, Times, "Times New Roman", serif;
$malabar-heavy-italic: 'Malabar W04 Heavy Italic', Georgia, Times, "Times New Roman", serif;
$kootenay: 'Kootenay Pro1277143', Arial, "Helvetica Neue", Helvetica, sans-serif;
$kootenay-italic: 'Kootenay Pro1277141', Arial, "Helvetica Neue", Helvetica, sans-serif;
$kootenay-semibold: 'Kootenay Pro SemiBold', Arial, "Helvetica Neue", Helvetica, sans-serif;
$kootenay-semibold-italic: 'Kootenay Pro SemiBold1280370', Arial, "Helvetica Neue", Helvetica, sans-serif;
$kootenay-bold: 'Kootenay Pro', Arial, "Helvetica Neue", Helvetica, sans-serif;
$kootenay-bold-italic: 'Kootenay Pro1277139', Arial, "Helvetica Neue", Helvetica, sans-serif;
$kootenay-extrabold: 'Kootenay Pro ExtraBold', Arial, "Helvetica Neue", Helvetica, sans-serif;
$kootenay-extrabold-italic: 'Kootenay Pro ExtraBold1280365', Arial, "Helvetica Neue", Helvetica, sans-serif;


/* ------------------------------------------------------------
   Font Size Variables
   ------------------------------------------------------------ */
$main-font-size: 1rem;
