/* ------------------------------------------------------------
   Japanese Font Variables
   ------------------------------------------------------------ */
$jp-overide: 'Yu Mincho', 'Hirgano Mincho';

/**
  * font-family:'Yu Gothic Std-TT D';
  * font-family:'Yu Gothic Std-TT L';
  * font-family:'Yu Gothic Std-TT M';
  * font-family:'Yu Gothic Std-TT R';
  * font-family:'Yu Gothic Std-TT B';
  * font-family:'Yu Gothic Std-TT E1215143';
  * font-family:'Yu Gothic Std-TT H1215146';
  */

$malabar: $jp-overide;
$malabar-italic: $jp-overide;
$malabar-bold: $jp-overide;
$malabar-bold-italic: $jp-overide;
$malabar-heavy: $jp-overide;
$malabar-heavy-italic: $jp-overide;
$kootenay: 'Yu Gothic Std-TT R', $jp-overide;
$kootenay-italic: 'Yu Gothic Std-TT R', $jp-overide;
$kootenay-semibold: 'Yu Gothic Std-TT D', $jp-overide;
$kootenay-semibold-italic: 'Yu Gothic Std-TT D', $jp-overide;
$kootenay-bold: 'Yu Gothic Std-TT B', $jp-overide;
$kootenay-bold-italic: 'Yu Gothic Std-TT B', $jp-overide;
$kootenay-extrabold: 'Yu Gothic Std-TT E1215143', $jp-overide;
$kootenay-extrabold-italic: 'Yu Gothic Std-TT E1215143', $jp-overide;


/* ------------------------------------------------------------
   Font Size Variables
   ------------------------------------------------------------ */
$main-font-size: 1rem;
