/* ------------------------------------------------------------
   Font Variables
   ------------------------------------------------------------ */
/*

'Malabar ET W08 Regular'
'Malabar ET W08 Italic'
'Malabar ET W08 Bold'
'MalabarETW08-BoldItalic'


'Malabar W04 Regular';
'Malabar W04 Italic';
'Malabar W04 Bold';
'Malabar W04 Bold Italic';
'Malabar W04 Heavy';
'Malabar W04 Heavy Italic';


'Kootenay Pro1277143'; // regular
'Kootenay Pro1277141'; // regular italic
'Kootenay Pro SemiBold';
'Kootenay Pro SemiBold1280370';// semibold italic
'Kootenay Pro'; // bold
'Kootenay Pro1277139'; // bold italic
'Kootenay Pro ExtraBold';
'Kootenay Pro ExtraBold1280365'; // extrabold italic
*/

$malabar: 'Malabar ET W08 Regular', Georgia, Times, "Times New Roman", serif;
$malabar-italic: 'Malabar ET W08 Italic', Georgia, Times, "Times New Roman", serif;
$malabar-bold: 'Malabar ET W08 Bold', Georgia, Times, "Times New Roman", serif;
$malabar-bold-italic: 'MalabarETW08-BoldItalic', Georgia, Times, "Times New Roman", serif;
$malabar-heavy: 'Malabar W04 Heavy', Georgia, Times, "Times New Roman", serif;
$malabar-heavy-italic: 'Malabar W04 Heavy Italic', Georgia, Times, "Times New Roman", serif;
$kootenay: 'Kootenay Pro1277143', Arial, "Helvetica Neue", Helvetica, sans-serif;
$kootenay-italic: 'Kootenay Pro1277141', Arial, "Helvetica Neue", Helvetica, sans-serif;
$kootenay-semibold: 'Kootenay Pro SemiBold', Arial, "Helvetica Neue", Helvetica, sans-serif;
$kootenay-semibold-italic: 'Kootenay Pro SemiBold1280370', Arial, "Helvetica Neue", Helvetica, sans-serif;
$kootenay-bold: 'Kootenay Pro', Arial, "Helvetica Neue", Helvetica, sans-serif;
$kootenay-bold-italic: 'Kootenay Pro1277139', Arial, "Helvetica Neue", Helvetica, sans-serif;
$kootenay-extrabold: 'Kootenay Pro ExtraBold', Arial, "Helvetica Neue", Helvetica, sans-serif;
$kootenay-extrabold-italic: 'Kootenay Pro ExtraBold1280365', Arial, "Helvetica Neue", Helvetica, sans-serif;
$kootenay--always: 'Kootenay Pro1277143', Arial, "Helvetica Neue", Helvetica, sans-serif;


/* ------------------------------------------------------------
   Font Size Variables
   ------------------------------------------------------------ */
$main-font-size: 1rem;
