/* ------------------------------------------------------------
   Japanese Font Variables
   ------------------------------------------------------------ */
$jp-overide: 'Yu Mincho', 'Hirgano Mincho';

/**
  * font-family:'Yu Gothic Std-TT D';
  * font-family:'Yu Gothic Std-TT M';
  * font-family:'Yu Gothic Std-TT B';
  * font-family:'Yu Gothic Std-TT E1215143';
  * font-family:'Tazugane Gothic BETA W50 Black';
  * font-family:'Tazugane Gothic BETA W50 Bold';
  * font-family:'Tazugane Gothic BETA W50 Rg';
  */

$malabar: 'Tazugane Gothic BETA W50 Rg', 'Yu Gothic Std-TT M', $jp-overide;
$malabar-italic: 'Tazugane Gothic BETA W50 Rg', 'Yu Gothic Std-TT M', $jp-overide;
$malabar-bold: 'Tazugane Gothic BETA W50 Bold', 'Yu Gothic Std-TT B', $jp-overide;
$malabar-bold-italic: 'Tazugane Gothic BETA W50 Bold', 'Yu Gothic Std-TT B', $jp-overide;
$malabar-heavy: 'Tazugane Gothic BETA W50 Black', 'Yu Gothic Std-TT E1215143', $jp-overide;
$malabar-heavy-italic: 'Tazugane Gothic BETA W50 Black', 'Yu Gothic Std-TT E1215143', $jp-overide;
$kootenay: 'Tazugane Gothic BETA W50 Rg', 'Yu Gothic Std-TT M', $jp-overide;
$kootenay-italic: 'Tazugane Gothic BETA W50 Rg', 'Yu Gothic Std-TT M', $jp-overide;
$kootenay-semibold: 'Tazugane Gothic BETA W50 Rg', 'Yu Gothic Std-TT D', $jp-overide;
$kootenay-semibold-italic: 'Tazugane Gothic BETA W50 Rg', 'Yu Gothic Std-TT D', $jp-overide;
$kootenay-bold: 'Tazugane Gothic BETA W50 Bold', 'Yu Gothic Std-TT B', $jp-overide;
$kootenay-bold-italic: 'Tazugane Gothic BETA W50 Bold', 'Yu Gothic Std-TT B', $jp-overide;
$kootenay-extrabold: 'Tazugane Gothic BETA W50 Bold', 'Yu Gothic Std-TT E1215143', $jp-overide;
$kootenay-extrabold-italic: 'Tazugane Gothic BETA W50 Bold', 'Yu Gothic Std-TT E1215143', $jp-overide;


/* ------------------------------------------------------------
   Font Size Variables
   ------------------------------------------------------------ */
$main-font-size: 1rem;

// p {
//   line-height: 41px !important;
// }
//
// p.standfirst {
//   line-height: 36px !important;
// }
