@font-face{
  font-family:"KootenayPro1277143";
  src:url("http://go.monotype.com/rs/monotype/images/f306c126-1076-4bef-8e65-912428b79e5b.eot?#iefix");
  src:url("http://go.monotype.com/rs/monotype/images/f306c126-1076-4bef-8e65-912428b79e5b.eot?#iefix") format("eot"),url("http://go.monotype.com/rs/monotype/images/7408a6fc-f1ee-40e4-abce-996fb9d3b2bd.woff") format("woff"),url("http://go.monotype.com/rs/monotype/images/8208d6f9-6e3f-433d-b5c8-e71a8c8cfb41.ttf") format("truetype"),url("http://go.monotype.com/rs/monotype/images/eb57d337-87d8-4e3d-89b5-4c0bcd8edd44.svg#eb57d337-87d8-4e3d-89b5-4c0bcd8edd44") format("svg");
  font-weight: normal;
  font-style: normal;
}
@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=4e872d1a-649d-4028-8ccf-cb4e3ea679e7");

@font-face {
  font-family: "Malabar LT W01 Regular";
  src: url("http://go.monotype.com/rs/monotype/images/eb08c8a3-a88a-4c00-95b9-b9e67b8d7d25.eot?#iefix");
  src: url("http://go.monotype.com/rs/monotype/images/eb08c8a3-a88a-4c00-95b9-b9e67b8d7d25.eot?#iefix") format("eot"), url("http://go.monotype.com/rs/monotype/images/170e73d6-faf6-4b28-b61b-bfda11217f97.woff2") format("woff2"), url("http://go.monotype.com/rs/monotype/images/68c5d82c-a93a-4a8d-bbf4-2888d4055322.woff") format("woff"), url("http://go.monotype.com/rs/monotype/images/b742df7d-e63f-4996-bfed-5758856979c9.ttf") format("truetype"), url("http://go.monotype.com/rs/monotype/images/89698650-ce5c-4943-854f-cc7f1a05c026.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:"Malabar LT W01 Italic";
  src:url("http://go.monotype.com/rs/396-BOK-818/images/43e97e83-d04b-4c4d-9765-8d17ecbc7807.eot?#iefix");
  src:url("http://go.monotype.com/rs/396-BOK-818/images/43e97e83-d04b-4c4d-9765-8d17ecbc7807.eot?#iefix")
  format("eot"),url("http://go.monotype.com/rs/396-BOK-818/images/16e55819-b00a-4fd3-8079-315cdc30bbd1.woff2") format("woff2"),url("http://go.monotype.com/rs/396-BOK-818/images/efcfed02-72ba-4a36-b60d-c6ad22afb00c.woff") format("woff"),url("http://go.monotype.com/rs/396-BOK-818/images/a8bee315-2da1-46d1-bf61-fbe7784cee7d.ttf") format("truetype"),url("http://go.monotype.com/rs/396-BOK-818/images/be4b9a09-e4fe-4dac-a800-ee275f9626ea.svg") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face{
  font-family:"MalabarLTW01-BoldItalic";
  src:url("https://go.monotype.com/rs/monotype/images/15b6e3b8-139b-4128-a2bf-7bcbddfef4ee.eot?#iefix");
  src:url("https://go.monotype.com/rs/monotype/images/15b6e3b8-139b-4128-a2bf-7bcbddfef4ee.eot?#iefix") format("eot"),url("https://go.monotype.com/rs/monotype/images/3022c93c-f203-4e13-99f1-4efe7afaf262.woff2") format("woff2"),url("https://go.monotype.com/rs/monotype/images/4dfbe45c-d0d9-4527-93f7-5b8ad91d4ef1.woff") format("woff"),url("https://go.monotype.com/rs/monotype/images/8d3c2349-9da3-4cc1-94ee-74135ee96b61.ttf") format("truetype"),url("https://go.monotype.com/rs/monotype/images/060352b8-71ec-4ad8-8ca1-b672af65931b.svg#060352b8-71ec-4ad8-8ca1-b672af65931b") format("svg");
}

@font-face {
  font-family: "Malabar LT W01 Bold";
  src: url("http://go.monotype.com/rs/monotype/images/6404839f-86ec-4fb5-b218-5451c6e16c72.eot?#iefix");
  src: url("http://go.monotype.com/rs/monotype/images/6404839f-86ec-4fb5-b218-5451c6e16c72.eot?#iefix") format("eot"), url("http://go.monotype.com/rs/monotype/images/a8996093-7e68-421e-b459-2d00eb9b3f52.woff2") format("woff2"), url("http://go.monotype.com/rs/monotype/images/7854e33b-a532-472b-a13b-af5e7462307d.woff") format("woff"), url("http://go.monotype.com/rs/monotype/images/36600c95-c2a8-44dc-a8f5-cd51a1388f78.ttf") format("truetype"), url("https://go.monotype.com/rs/monotype/images/95923333-e959-4b67-9163-ce1f680c8993.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Malabar LT W01 Heavy";
  src: url("http://go.monotype.com/rs/monotype/images/5515db76-070f-4ec5-bc31-7c022b6b65ee.eot?#iefix");
  src: url("http://go.monotype.com/rs/monotype/images/5515db76-070f-4ec5-bc31-7c022b6b65ee.eot?#iefix") format("eot"), url("http://go.monotype.com/rs/monotype/images/985af5f9-0676-4a02-adb7-996b7bd0843b.woff2") format("woff2"), url("http://go.monotype.com/rs/monotype/images/225b556a-aa6d-4cce-ba11-e78cf7c8e128.woff") format("woff"), url("http://go.monotype.com/rs/monotype/images/c86ca20c-37da-431c-baa2-f7601c49ce06.ttf") format("truetype"), url("http://go.monotype.com/rs/monotype/images/b2399ea9-cdbb-4122-9837-f57ca3785211.svg") format("svg");
}

@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=bb73d1b0-4ff8-42dd-b0bc-53bdc49b5d6c");

@font-face {
  font-family: "Malabar W01"; src: url("http://go.monotype.com/rs/396-BOK-818/images/eb08c8a3-a88a-4c00-95b9-b9e67b8d7d25.eot?#iefix") format("eot"),url("http://go.monotype.com/rs/396-BOK-818/images/170e73d6-faf6-4b28-b61b-bfda11217f97.woff2") format("woff2"),url("http://go.monotype.com/rs/396-BOK-818/images/68c5d82c-a93a-4a8d-bbf4-2888d4055322.woff") format("woff"),url("http://go.monotype.com/rs/396-BOK-818/images/b742df7d-e63f-4996-bfed-5758856979c9.ttf") format("truetype"),url("http://go.monotype.com/rs/396-BOK-818/images/89698650-ce5c-4943-854f-cc7f1a05c026.svg#89698650-ce5c-4943-854f-cc7f1a05c026") format("svg"); font-weight: 400; font-style: normal;
}
@font-face {
  font-family: "Malabar W01";
  src: url("http://go.monotype.com/rs/396-BOK-818/images/5515db76-070f-4ec5-bc31-7c022b6b65ee.eot?#iefix") format("eot"),url("http://go.monotype.com/rs/396-BOK-818/images/985af5f9-0676-4a02-adb7-996b7bd0843b.woff2") format("woff2"),url("http://go.monotype.com/rs/396-BOK-818/images/225b556a-aa6d-4cce-ba11-e78cf7c8e128.woff") format("woff"),url("http://go.monotype.com/rs/396-BOK-818/images/c86ca20c-37da-431c-baa2-f7601c49ce06.ttf") format("truetype"),url("http://go.monotype.com/rs/396-BOK-818/images/b2399ea9-cdbb-4122-9837-f57ca3785211.svg#b2399ea9-cdbb-4122-9837-f57ca3785211") format("svg"); font-weight: 800; font-style: normal;
}


/*Allows for true italic and true bold*/

@font-face {
  font-family: "Malabar";
  src: url("http://go.monotype.com/rs/monotype/images/eb08c8a3-a88a-4c00-95b9-b9e67b8d7d25.eot?#iefix");
  src: url("http://go.monotype.com/rs/monotype/images/eb08c8a3-a88a-4c00-95b9-b9e67b8d7d25.eot?#iefix") format("eot"), url("http://go.monotype.com/rs/monotype/images/170e73d6-faf6-4b28-b61b-bfda11217f97.woff2") format("woff2"), url("http://go.monotype.com/rs/monotype/images/68c5d82c-a93a-4a8d-bbf4-2888d4055322.woff") format("woff"), url("http://go.monotype.com/rs/monotype/images/b742df7d-e63f-4996-bfed-5758856979c9.ttf") format("truetype"), url("http://go.monotype.com/rs/monotype/images/89698650-ce5c-4943-854f-cc7f1a05c026.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Malabar";
  src: url("http://go.monotype.com/rs/monotype/images/6404839f-86ec-4fb5-b218-5451c6e16c72.eot?#iefix");
  src: url("http://go.monotype.com/rs/monotype/images/6404839f-86ec-4fb5-b218-5451c6e16c72.eot?#iefix") format("eot"), url("http://go.monotype.com/rs/monotype/images/a8996093-7e68-421e-b459-2d00eb9b3f52.woff2") format("woff2"), url("http://go.monotype.com/rs/monotype/images/7854e33b-a532-472b-a13b-af5e7462307d.woff") format("woff"), url("http://go.monotype.com/rs/monotype/images/36600c95-c2a8-44dc-a8f5-cd51a1388f78.ttf") format("truetype"), url("https://go.monotype.com/rs/monotype/images/95923333-e959-4b67-9163-ce1f680c8993.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face{
  font-family:"Malabar”;
  src:url("https://go.monotype.com/rs/monotype/images/15b6e3b8-139b-4128-a2bf-7bcbddfef4ee.eot?#iefix");
  src:url("https://go.monotype.com/rs/monotype/images/15b6e3b8-139b-4128-a2bf-7bcbddfef4ee.eot?#iefix") format("eot"),url("https://go.monotype.com/rs/monotype/images/3022c93c-f203-4e13-99f1-4efe7afaf262.woff2") format("woff2"),url("https://go.monotype.com/rs/monotype/images/4dfbe45c-d0d9-4527-93f7-5b8ad91d4ef1.woff") format("woff"),url("https://go.monotype.com/rs/monotype/images/8d3c2349-9da3-4cc1-94ee-74135ee96b61.ttf") format("truetype"),url("https://go.monotype.com/rs/monotype/images/060352b8-71ec-4ad8-8ca1-b672af65931b.svg#060352b8-71ec-4ad8-8ca1-b672af65931b") format("svg");
  font-weight: bold;
  font-style: italic;
}


@font-face {
  font-family:"Malabar";
  src:url("http://go.monotype.com/rs/396-BOK-818/images/43e97e83-d04b-4c4d-9765-8d17ecbc7807.eot?#iefix");
  src:url("http://go.monotype.com/rs/396-BOK-818/images/43e97e83-d04b-4c4d-9765-8d17ecbc7807.eot?#iefix") format("eot"),url("http://go.monotype.com/rs/396-BOK-818/images/16e55819-b00a-4fd3-8079-315cdc30bbd1.woff2") format("woff2"),url("http://go.monotype.com/rs/396-BOK-818/images/efcfed02-72ba-4a36-b60d-c6ad22afb00c.woff") format("woff"),url("http://go.monotype.com/rs/396-BOK-818/images/a8bee315-2da1-46d1-bf61-fbe7784cee7d.ttf") format("truetype"),url("http://go.monotype.com/rs/396-BOK-818/images/be4b9a09-e4fe-4dac-a800-ee275f9626ea.svg") format("svg");
  font-weight: normal;
  font-style: italic;
}


$malabar: 'Malabar LT W01 Regular', Georgia, Times, "Times New Roman", serif;
$malabar-italic: 'Malabar LT W01 Italic', Georgia, Times, "Times New Roman", serif;
$malabar-bold: 'Malabar LT W01 Bold', Georgia, Times, "Times New Roman", serif;
$malabar-bold-italic: 'Malabar W04 Bold Italic', Georgia, Times, "Times New Roman", serif;
$malabar-heavy: 'Malabar LT W01 Heavy', Georgia, Times, "Times New Roman", serif;
$malabar-heavy-italic: 'Malabar W04 Heavy Italic', Georgia, Times, "Times New Roman", serif;
$kootenay: 'Kootenay Pro1277143', Arial, "Helvetica Neue", Helvetica, sans-serif;
$kootenay-italic: 'Kootenay Pro1277141', Arial, "Helvetica Neue", Helvetica, sans-serif;
$kootenay-semibold: 'Kootenay Pro SemiBold', Arial, "Helvetica Neue", Helvetica, sans-serif;
$kootenay-semibold-italic: 'Kootenay Pro SemiBold1280370', Arial, "Helvetica Neue", Helvetica, sans-serif;
$kootenay-bold: 'Kootenay Pro', Arial, "Helvetica Neue", Helvetica, sans-serif;
$kootenay-bold-italic: 'Kootenay Pro1277139', Arial, "Helvetica Neue", Helvetica, sans-serif;
$kootenay-extrabold: 'Kootenay Pro ExtraBold', Arial, "Helvetica Neue", Helvetica, sans-serif;
$kootenay-extrabold-italic: 'Kootenay Pro ExtraBold1280365', Arial, "Helvetica Neue", Helvetica, sans-serif;


/* ------------------------------------------------------------
   Font Size Variables
   ------------------------------------------------------------ */
$main-font-size: 1rem;
