
// Variables

$site-header-bg-color: #FAF7F5;
$site-header-text-color: #1E1E1E;
$marketting-header-bg-color: #1E1E1E;
$marketting-header-text-color: #FAF7F5;
$marketting-body-bg-color: #FAF7F5;
$marketting-body-text-color: #1E1E1E;
$marketting-form-bg-color: #FAF7F5;
$marketting-form-text-color: #1E1E1E;
$marketting-cta-bg-color: #73b4da;
$marketting-cta-text-color: #FAF7F5;

// Marketo Reset

div.lpeCElement{left:auto!important;position:relative!important;top:auto!important;z-index:0!important;height:auto!important}.mktoLabel,.mktoForm .mktoOffset,.mktoForm .mktoGutter{display:none}.mktoForm{padding:0!important}.mktoForm,.mktoFormCol,.mktoFieldWrap,.mktoButtonRow,#register-lightbox input{width:100%!important}.mktoButtonWrap{margin:0!important}.mktoFieldDescriptor{margin:0!important}

// Styles


.mktEditable {
  .b-3-4-0-intro-full-width {
    background-color: $marketting-header-bg-color;
    background-image: url('http://www.placehold.it/1000x300');
    background-origin: center center;
    padding-top: 15rem;
    padding-bottom: 5rem;
  }
  .b-form__table-cell:first-child {
    width: 65% !important;
  }
  .b-form__table-cell:last-child {
    width: 35% !important;
    border-left: 1px solid black;
    margin-top: 2rem;
  }
  .b-form__table {
    padding-bottom: 2rem;
  }
  .b-checkbox .g-col {
    padding-top: 2rem;
    padding-left: 0;
    padding-right: 0;
    label {
      font-size: 12px;
    }
    input {
      width: 20px;
    }
  }
  .b-checkbox {
    .g-row {
      width: 90.47619%;
      margin: 0 4.7619%;
    }
  }
  .b-lead__text p {
    color: $marketting-header-text-color !important;
  }
  .b-button .b-button__item {
    background-color: $marketting-cta-bg-color;
    border-color: darken($marketting-cta-bg-color, 20%);
    color: $marketting-cta-text-color;
  }
  .b-media {
    float: left;
    text-align: left;
    width: 40%;
    margin-left: 5%;
  }
  .b-main {
    background-color: $marketting-body-bg-color;
    color: $marketting-body-text-color;
    .b-title__text {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }
  .b-form__table {
    background-color: $marketting-form-bg-color;
    .b-paragraph {
      font-size: 110%;
      float: left;
      width: 53%;
      ul {
        margin-top: 0;
      }
    }
  }
  .b-form .jvFloat {
    padding: 1em 0 .3em 0;
    margin-top: 0 !important;
    :first-child {
    }
  }
  .b-form .b-form__input {
    margin-top: 0;
    padding: 0;
  }
  .b-paragraph--secondary .b-paragraph__text {
    margin-top: 3rem;
    margin-bottom: 7.5rem;
  }
}

.b-12-0-0-marketo-form {
  form {
  }
}
.b-form__table.b-form__table--contact {
  border: 1px solid grey;
}
.b-form.b-form--contact .b-form__table-cell:last-child,
.b-form.b-form--contact .b-button {
  opacity: 1;
}
.b-form.b-form--contact .b-form__table-cell:last-child {
  float: right;
  width: 28%;
  box-sizing: border-box;
  padding-left: 1rem;
  padding-right: 1rem;
}

.b-form__table-cell:first-child {
  float: left;
}

.b-media {
  text-align: left;
}


@media (max-width: 767px) {
  .mktEditable {
    .b-3-4-0-intro-full-width {
      padding-top: 5rem;
    }
    .b-main {
      box-sizing: border-box;
      padding-left: 2%;
      padding-right: 2%;
    }
    .b-form__table-cell {
      box-sizing: border-box;
      padding-left: 2%;
      padding-right: 2%;
      &:first-child { width: 100% !important;
        height: auto !important;
      &:after {
    content:" ";
    display:table;
    clear:both;
      }
    }
      &:last-child { width: 100% !important; height: auto !important; padding-bottom: 2rem; margin-top: 0; border-right: 0;}
    }
    .b-12-0-0-marketo-form {
      padding: 0;
    }
    .b-media {
      float: none;
      display: block;
      width: 100%;
      text-align: center;
    }
  }
}

.mktEditable .b-form .b-form__input {
  box-sizing: border-box;
  border: 1px solid grey;
  padding: .5em;
  margin-bottom: .5rem;
  width: 100%;
  &::placeholder {
    color: black;
  }
}
.mktEditable {
  .b-1-0-0-header {
    background-color: $site-header-bg-color;
    color: $site-header-text-color;
  }
  .b-form .b-form__select {
    margin: 0;
    margin-bottom: .5rem;
    box-sizing: border-box;
    border: 1px solid grey;
    padding: .75em .5em;
    background-position: 95% center;
    width: 100%;
    color: grey;
  }
}


div#innerWrapDiv {
  width: 100% !important;
}



// Libby's CSS
//


label[for=Mailing_List_Opt_in__c] {
  float: right !important;
  font-size: .8em;
  font-family:"Kootenay Pro SemiBold",'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight:normal;
  color:rgb(0,0,0) !important;
  display:block !important;
  padding-bottom: 1.3em !important;
  width: 90% !important;
}

.mktoHtmlText {
  width:90% !important;
}

.mktoForm div, .mktoForm span, .mktoForm label, .mktoForm p {
  font-family: "Kootenay Pro1277143", Arial, "Helvetica Neue", Helvetica, sans-serif;
}

button, .mktoButton button[type=submit], .mktoButton, .b-button .b-button__item {
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-family: "Kootenay Pro SemiBold", Arial, "Helvetica Neue", Helvetica, sans-serif;
  letter-spacing: 0.03125rem;
  color: #FFFFFF;
  background: #73b4da;
  margin: 0 auto;
  padding: 0.75rem 1.125rem;
  border: 1px solid #006fa3;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  display: table;
  user-select: none;
  text-align: center;
  min-width: 9rem;
  width: 100% !important;
}

@media screen and (max-width: 1023px) {
  .b-button .b-button__item {
    font-size: 1rem;
    line-height: 1.3125rem;
  }
  button, .mktoButton button[type=submit], .mktoButton {
    font-size:14px;
  }
}

@media screen and (max-width: 748px) {
  button, .mktoButton button[type=submit], .mktoButton {
    font-size:14px;
  }
}

input, select, .mktoForm input[type=text], .mktoForm input[type=url], .mktoForm input[type=email],
.mktoForm input[type=tel], .mktoForm input[type=number], .mktoForm input[type=date],
.b-form .b-form__input, .b-form .b-form__select {
  padding: 1.125rem 0;
  margin: -1.125rem 0;
}

input, .mktoForm input[type=text], .mktoForm input[type=url], .mktoForm input[type=email],
.mktoForm input[type=tel], .mktoForm input[type=number], .mktoForm input[type=date],
select, .b-form .jvFloat--active .b-form__input, .b-form .jvFloat--active .b-form__select {
  padding: 1.5rem 0 0 0;
  margin: -1.5rem 0 0 0;
}

input, select, .mktoForm input[type=text], .mktoForm input[type=url], .mktoForm input[type=email],
.mktoForm input[type=tel], .mktoForm input[type=number], .mktoForm input[type=date], .b-form .b-form__input {
  font-size: 1.125rem;
  line-height: 1.5rem;
  min-height: auto;
  width: 100% !important;
  box-sizing: border-box !important;
  border: 1px solid grey !important;
  padding: .5em !important;
  margin-bottom: .5em !important;
}

@media screen and (max-width: 1023px) {
  input,  .mktoForm input[type=text], .mktoForm input[type=url], .mktoForm input[type=email],
  .mktoForm input[type=tel], .mktoForm input[type=number], .mktoForm input[type=date], .b-form .b-form__input {
    font-size: 1rem;
    line-height: 1.3125rem;
  }
}

input,  .mktoForm input[type=text], .mktoForm input[type=url], .mktoForm input[type=email],
.mktoForm input[type=tel], .mktoForm input[type=number], .mktoForm input[type=date], .b-form .b-form__input ::-webkit-input-placeholder {
  color: grey !important;
}

input, .mktoForm input[type=text], .mktoForm input[type=url], .mktoForm input[type=email],
.mktoForm input[type=tel], .mktoForm input[type=number], .mktoForm input[type=date], .b-form .b-form__input :-moz-placeholder {
  color: grey !important;
}

input,  .mktoForm input[type=text], .mktoForm input[type=url], .mktoForm input[type=email],
.mktoForm input[type=tel], .mktoForm input[type=number], .mktoForm input[type=date], .b-form .b-form__input ::-moz-placeholder {
  color: grey !important;
}

input,  .mktoForm input[type=text], .mktoForm input[type=url], .mktoForm input[type=email],
.mktoForm input[type=tel], .mktoForm input[type=number], .mktoForm input[type=date], .b-form .b-form__input :-ms-input-placeholder {
  color: grey !important;
}

input:focus,  .mktoForm input[type=text]:focus, .mktoForm input[type=url]:focus, .mktoForm input[type=email]:focus,
.mktoForm input[type=tel]:focus, .mktoForm input[type=number]:focus, .mktoForm input[type=date]:focus, .b-form .b-form__input:focus ::-webkit-input-placeholder {
  color: #E2E2E2;
}

input:focus, .mktoForm input[type=text]:focus, .mktoForm input[type=url]:focus, .mktoForm input[type=email]:focus,
.mktoForm input[type=tel]:focus, .mktoForm input[type=number]:focus, .mktoForm input[type=date]:focus, .b-form .b-form__input:focus :-moz-placeholder {
  color: #E2E2E2;
}

input:focus, .mktoForm input[type=text]:focus, .mktoForm input[type=url]:focus, .mktoForm input[type=email]:focus,
.mktoForm input[type=tel]:focus, .mktoForm input[type=number]:focus, .mktoForm input[type=date]:focus, .b-form .b-form__input:focus ::-moz-placeholder {
  color: #E2E2E2;
}

input:focus, .mktoForm input[type=text]:focus, .mktoForm input[type=url]:focus, .mktoForm input[type=email]:focus,
.mktoForm input[type=tel]:focus, .mktoForm input[type=number]:focus, .mktoForm input[type=date]:focus, .b-form .b-form__input:focus :-ms-input-placeholder {
  color: #E2E2E2;
}

.mktoForm textarea.mktoField, .b-form .b-form__input.b-form__input--textarea {
  font-family: "Malabar LT W01 Regular", Georgia, Times, "Times New Roman", serif;
  float: left;
  resize: none;
  padding: 1rem 10.271041369% 0 10.271041369%;
  margin-top: 0;
  height: 100%;
}

@media screen and (max-width: 748px) {
  .mktoForm textarea.mktoField, .b-form .b-form__input.b-form__input--textarea {
    padding: 1.5rem 7.14286%;
  }
}

@media screen and (max-width: 479px) {
  .mktoForm textarea.mktoField, .b-form .b-form__input.b-form__input--textarea {
    padding: 1.5rem 0.75rem;
  }
}

select, .mktoForm select.mktoField, .b-form .b-form__select {
  float: left;
  width: 100%;
  background: url("../../image/icon-triangle-down.svg") no-repeat center right;
  border-right: 12px solid transparent;
}

select, .mktoForm select.mktoField, .b-form .b-form__select .b-form__select-item--disabled {
  color: #787878 !important;
}


.b-hover-list__item {
  display: inline-block;
  font-family: "Malabar LT W01 Regular", Georgia, Times, "Times New Roman", serif;
  margin-bottom: 2px;
  margin-right: 0.375rem;
  padding: 0 0.375rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 0.1875rem;
}


@media screen and (min-width: 1023px) {
  .mktEditable .b-main .b-form__table-cell .b-title__text {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
@media screen and (max-width: 1023px) {
  .mktEditable .b-main .b-form__table-cell .b-title__text {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

@media screen and (max-width: 748px) {
  .mktEditable .b-main .b-form__table-cell .b-title__text {
    padding-top: 1rem;
    padding-bottom: 3rem;
  }
}
