// Adds variables by importing each 'group' of variables separately.
$serif-fallback: Georgia, Times, "Times New Roman", serif;
$sans-serif-fallback: Arial, "Helvetica Neue", Helvetica, sans-serif;

$spacing-unit: 6px;
$spacing-unit--xs: 3px;
$spacing-unit--xxs: 0;
$spacing-unit--s: 6px;
$spacing-unit--m: 12px;
$spacing-unit--r: 18px;
$spacing-unit--l: 24px;
$spacing-unit--xl: 36px;
$spacing-unit--xxl: 48px;

$main-font-size: 1rem;

$color-eleven: #51514e; // darker grey video background
@import "variables/v-colors";
@import "variables/v-fonts";
@import "variables/v-animations";
@import "variables/v-spacing";
@import "variables/v-breakpoints";


// brand / company specific variables

$brand__color--mel: #d44f54;
$brand__color--mel--hover: darken(saturate(adjust-hue(#d44f54, -2.9948), 41.8079), 33.3333);
$brand__color--mls: #73b4da;
$brand__color--mls--hover: darken(saturate(adjust-hue(#73b4da, -2.9948), 41.8079), 33.3333);
