.b-3-4-1-intro-full-width-background {
  background: $color-six;
  background-position: 50% 100%;
  background-size:cover;
  background-repeat:no-repeat;
  border-bottom:1px solid $color-three;
  color:$color-one;
  height:30rem;/*480px*/
  
  @include breakpoint(medium) {
  	height:25.125rem;/*402px*/
  }
  @include breakpoint(fromAdaptiveToFluid) {
    min-height:18rem; /*288px*/
  	height:auto;  
		padding-bottom:4rem;/*64px*/
  }    
}


