.b-paragraph {
  @include responsive-text-size('neptune');  
  font-family: $malabar;
  margin-top:2 * $spacing-unit;
  
  p, ul {
    margin-top:1.875rem;
    
    @include breakpoint(medium) {
      margin-top:1.6875rem;    
    }
    @include breakpoint(small) {
      margin-top:1.5rem;    
    }    
    
    &:first-child {
      margin-top:0;
    }
  }
  ul {
    @include breakpoint(small) {
      margin-left:1em;
    }
  }
  
  a {
    border-bottom:1px solid $color-one;
    padding-bottom: 0.0625rem;
    @include vendor(transition, border-bottom $transition);
    
    &:hover {
      border-bottom:1px solid $color-five;
    }      
  }
  
}