.b-resourcescontent .b-resourcescontent__list .messaging .b-resourcescontent__inner {
    padding: 1.3rem 1.5rem 1.5rem 1.5rem!important;
    background-color: #333;
}

.b-resourcescontent__item.b-resourcescontent__type-1x1.messaging h3, .b-resourcescontent__item.b-resourcescontent__type-2x1.messaging h3 {
	font-size: 1.5rem;
	line-height: 2.026rem;
	color: #fff;
	margin-bottom: 3.425rem;
}

@media only screen and (min-width: 1024px) {
	.b-resourcescontent__item.b-resourcescontent__type-1x1.messaging h3, .b-resourcescontent__item.b-resourcescontent__type-2x1.messaging h3 {
		font-size: 2rem;
		line-height: 2.526rem;
		color: #fff;
		margin-bottom: 3.425rem;
	}
	
}

.b-type-to-show.b-type-to-show--newsletter .b-type-to-show__input {
	    font-family: 'Malabar ET W01 Regular';
}

.messaging .b-type-to-show.b-type-to-show--newsletter .b-type-to-show__input {
    font-size: 1rem;
}

@media only screen and (min-width: 1024px) {

	.messaging .b-type-to-show.b-type-to-show--newsletter .b-type-to-show__input {
	    font-size: 1.475rem;
	}
	
}