.b-insta__feed {
	 a {
			box-sizing: border-box;
			img {
				width: 33.33333%;
				padding: 1%;
			}
	 }

	@media (max-width: 706px) {
		a {
		height: auto !important;
		width: 40% !important;
		}
		img {
			height: auto !important;
			width: 100% !important;
		}
	}
}

// from custom.scss file

.g-row + .b-insta__feed {
    margin-top: 1rem;
}
.b-insta__feed {
    a {
        display: inline-block;
        margin: 0 0 1rem 1rem;
        height: 270px;
        opacity: 1;
        position: relative;
        width: 270px;
    }
}
